@font-face {
        font-family: "Uthmanic";
        src: url('../assets/fonts/UthmanicHafs1B.ttf');
    }

    @font-face {
        font-family: "quran";
        src: url('../assets/fonts/AlQalamQuranMajeedWebRegular.ttf');
    }

    body{

    }
    .quran_content{
      font-family: "Uthmanic"; 
      font-weight: normal;
    }

    .ReadAya{
      background-image: url('../assets/bg_quran.png');
      background-color: #d9ecf6;
      background-repeat: no-repeat;
      background-size: cover;
      width: 450PX;
      height: 630PX;
      text-align: justify;
      font-size: 16px;
    }
    .suraName{
      font-family: "quran";
      background-image: url('../assets/sura.png');
      background-color: #BAE3FC;
      background-repeat: no-repeat;
      background-size: cover;
      width: 328PX;
      text-align: center;
      margin-bottom: 5px;
      padding-bottom: 10px;
      border: 2px solid;
    }
    .suraStart{
        margin-top: 5px;
    }
    .page_head{
      font-family: "quran";
      color: gray;
      font-size: 12px;
      margin-top: 25px;
    }

    .page_foot{
      font-family: "quran";
      text-align: center;
      color: gray;
      font-size: 13px;
      margin-top: -35px;
    }
    .ReadAya ul{
      list-style: none;
      width: 440px;
      padding: 60px;
      line-height: 1;
    }

    div>span{
      width:100%;
      display:inline-block;
    }

    div>label{
      text-justify: inter-character;
      margin-bottom: 0px;
    }

    .not_read{
      color: #adacac;
    }
    .read_done{
      color: black;
    }
    .last{
      color: red;
    }

    #video1 ,#video2 ,#video3{
      background-color: #000;
    }
    .modal-title {
        color: powderblue;
        font-size: 26px;
        
    }
    .modal-header{
      background-color: #000;
    }

    .modal-content{
      background-color: #D9EBF6;
      font-size: 20px;
      font-family: "Uthmanic";
    }