@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

.droid-arabic-kufi {
  font-family: 'Droid Arabic Kufi';
}
/*------ Main RTL Rules -------*/
body {
  text-align: right;
  unicode-bidi: embed;
  direction: rtl; 
  font-family: "Droid Arabic Kufi";
}

.search-bar {
  float: right; }

.page-has-right-panels {
  padding-right: 0;
  padding-left: 70px; }

.page-has-left-panels {
  padding-left: 0;
  padding-right: 70px; }

.page-has-left-panels.page-has-right-panels {
  padding-right: 70px;
  padding-left: 70px; }

.page-has-right-panels .header {
  padding-right: 0;
  padding-left: 70px; }

.control-block {
  float: left;
  margin-right: 0;
  margin-left: 15px; }

.author-page {
  margin-left: 0;
  margin-right: 50px; }

.header .page-title {
  padding: 26px 100px 26px 50px;
  float: right; }

.control-icon {
  margin-right: 0;
  margin-left: 29px; }

.control-block .author-thumb {
  margin-right: 0;
  margin-left: 8px; }

.author-thumb .icon-status {
  left: auto;
  right: 0; }

.control-block .author-title > svg {
  margin-left: 0;
  margin-right: 15px; }

.notification-list .notification-event {
  padding-left: 0;
  padding-right: 15px; }

.fixed-sidebar {
  left: auto;
  right: 0; }

.fixed-sidebar-left.sidebar--large {
  transform: translateX(100%); }

.fixed-sidebar.right {
  right: auto;
  left: 0; }

.fixed-sidebar-right.sidebar--large {
  transform: translateX(-100%); }

.left-menu a {
  padding: 16px 25px 16px 0; }

.left-menu .left-menu-icon {
  margin-right: 0;
  margin-left: 25px; }

.sidebar--large .logo .img-wrap {
  margin-right: 0;
  margin-left: 20px; }

.fixed-sidebar-left.sidebar--small .left-menu a {
  padding: 14px 25px 14px 0; }

.fixed-sidebar.open .fixed-sidebar-left.sidebar--small {
  transform: translateX(100%); }

.chat-users .author-thumb {
  margin-right: 0;
  margin-left: 8px; }

.fixed-sidebar-right {
  border-left: none;
  border-left: none;
  border-right: 1px solid #e6ecf5;
  border-right: 1px solid var(--olympus-border-color);
  right: auto;
  left: 0; }

.fixed-sidebar.open .fixed-sidebar-right.sidebar--small {
  transform: translateX(-100%); }

.fixed-sidebar.open .fixed-sidebar-right.sidebar--large {
  transform: translateX(0); }

.search-friend a + a {
  margin-left: 0;
  margin-right: 13px; }

.sidebar--large .olympus-chat .olymp-chat---messages-icon {
  margin-right: auto;
  margin-left: unset; }

.chat-users .more {
  float: left; }

.chat-users .more:hover .more-icons {
  right: auto;
  left: 100%; }

.more-icons {
  right: auto;
  left: -100%;
  padding: 10px 10px 10px 25px; }

.more-icons li + li {
  margin-left: 0;
  margin-right: 20px; }

.account-settings svg {
  margin-right: 0;
  margin-left: 15px; }

.mobile-notification-tabs .control-icon {
  margin-left: 0; }

.more-dropdown {
  text-align: right; }

.control-icon .ui-block-title a {
  float: left;
  margin-left: 0;
  margin-right: 20px; }

.notification-list .notification-icon {
  margin-left: 0;
  margin-right: auto; }

.notification-list .more {
  right: auto;
  left: 10px; }

.form-group.label-floating label.control-label,
.form-group.label-placeholder label.control-label {
  left: auto;
  right: 20px; }

.form-group.has-error::after, .label-floating.has-success::after {
  right: auto;
  left: 20px; }

.form-select {
  background-position: left .75rem center; }

.input-group-addon {
  right: auto;
  left: 0; }

.radio label {
  padding-left: 0;
  padding-right: 30px; }

.radio label span {
  left: auto;
  right: 0; }

.checkbox .checkbox-material {
  padding-right: 0;
  padding-left: 5px; }

.checkbox .checkbox-material::before {
  left: auto;
  right: 0; }

.checkbox .checkbox-material .check::before {
  margin-left: 0;
  margin-right: 10px; }

.form-control.is-valid,
.was-validated .form-control:valid {
  background-position: left calc(.375em + .1875rem) center; }

.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-position: left calc(.375em + .1875rem) center; }

.form-select.is-valid,
.was-validated .form-select:valid {
  padding-right: 1.1rem;
  padding-left: calc(.75em + 2.3125rem); }

.form-control.is-valid,
.was-validated .form-control:valid {
  padding-right: 1.1rem;
  padding-left: calc(.75em + 2.3125rem); }

.label-floating.with-icon .form-control,
.label-floating.with-icon input,
.label-floating.with-icon textarea {
  padding-left: 1.1rem;
  padding-right: 70px; }

.form-group.with-icon i,
.form-group.with-icon svg {
  left: auto;
  right: 0; }

.form-group.with-icon::after {
  left: auto;
  right: 50px; }

.label-floating.with-icon label.control-label,
.label-placeholder.with-icon label.control-label {
  left: auto;
  right: 70px; }

.author-thumb .icon-status {
  left: auto;
  right: 0; }

.notification-list .more i + i,
.notification-list .more i + svg,
.notification-list .more svg + i,
.notification-list .more svg + svg {
  margin-left: 0;
  margin-right: 5px; }

.author-page .chat-settings .icon-status {
  margin-right: 0;
  margin-left: 20px; }

.form-group.with-button input {
  padding-right: 15px;
  padding-left: 50px; }

.custom-status.form-group.with-button button {
  border-radius: 5px 0 0 5px; }

.form-group.with-button button {
  right: auto;
  left: 0; }

.back-to-top {
  right: auto;
  left: 85px; }

.header-menu .menu-search-item a {
  padding-left: 0;
  padding-right: 30px; }

.product-thumb {
  margin-right: 0;
  margin-left: 15px; }

.header--standard .header-menu {
  margin-left: 0;
  margin-right: auto; }

.dropdown-toggle::after {
  margin-left: 0;
  margin-right: .255em; }

.dropdown-menu {
  text-align: right; }

.column-tittle {
  padding-left: 0;
  padding-right: 20px; }

.column-tittle::after {
  left: auto;
  right: 20px; }

.tag-label {
  margin-left: 0;
  margin-right: 12px; }

.registration-login-form {
  border-radius: 5px 5px 0 0;
  padding-left: 0;
  padding-right: 71px; }

.registration-login-form .nav-tabs {
  left: auto;
  right: 0; }

.registration-login-form .nav-link {
  border-right: none;
  border-right: none;
  border-left: 1px solid #e6ecf5;
  border-left: 1px solid var(--olympus-border-color); }

.remember .forgot {
  float: left; }

.btn-icon-left i, .btn-icon-left svg {
  margin-right: 0;
  margin-left: 10px; }

.shop-popup-cart.more-dropdown {
  right: auto;
  left: -70px; }

.cart-product-item .more {
  right: auto;
  left: 10px; }

.product-price {
  margin-left: 20px;
  margin-right: auto; }

.cart-btn-wrap .btn + .btn {
  margin-left: 0;
  margin-right: 12px; }

.open-responsive-menu {
  margin-left: 0;
  margin-right: auto; }

.close-responsive-menu {
  left: auto;
  right: 25px; }

.search-form .btn {
  border-radius: 5px 0 0 5px; }

.ms-auto {
  margin-left: 0 !important;
  margin-right: auto !important; }

.profile-section .control-block-button {
  right: auto;
  left: 38px; }

.control-block-button .btn-control {
  margin-right: 0;
  margin-left: 20px; }

.more-dropdown {
  right: auto;
  left: 0; }

.more-with-triangle.triangle-bottom-right::before {
  right: auto;
  left: 15px; }

.profile-menu .more-dropdown {
  right: auto;
  left: -25px; }

.post__author .more {
  float: left;
  margin-right: 0;
  margin-left: 5px; }

.post-additional-info > * {
  margin-right: 0;
  margin-left: 15px; }

.post-add-icon img,
.post-add-icon svg {
  margin-right: 0;
  margin-left: 8px; }

.post-additional-info > :last-child {
  margin-right: auto;
  margin-left: 0; }

.comments-shared > * {
  margin-right: 0;
  margin-left: 15px; }

.post .control-block-button {
  right: auto;
  left: -17px; }

.video-thumb {
  float: right; }

.comments-list .post-add-icon {
  margin-right: 0;
  margin-left: 20px; }

.post__author img {
  margin-right: 0;
  margin-left: 12px; }

.children {
  padding-left: 0;
  padding-right: 35px; }

.children .comment-item::before {
  left: auto;
  right: -5px; }

.children .comment-item {
  border-left: none;
  border-left: none;
  border-right: 1px solid #e6ecf5;
  border-right: 1px solid var(--olympus-border-color); }

.comment-form .post__author img {
  margin-right: 0;
  margin-left: 10px; }

.icon-close {
  right: auto;
  left: -25px; }

.post-control-button .btn-control {
  margin-left: 0; }

.w-faved-page li {
  float: right; }

.skills-item-info .skills-item-count {
  float: left; }

.w-twitter .author-folder img {
  margin-right: 0;
  margin-left: 8px; }

ol {
  padding-right: 0; }

.playlist-thumb {
  margin-right: 0;
  margin-left: 12px; }

.w-playlist .composition-time {
  float: left; }

.playlist-popup-table td:first-child {
  padding-left: 12px;
  padding-right: 30px; }

.playlist-popup-table td:last-child {
  padding-right: 12px;
  padding-left: 30px; }

.friends-harmonic li:first-child a {
  margin-right: 0; }

.friends-harmonic a {
  margin-left: 0;
  margin-right: -12px; }

.skills-item-meter-active {
  left: auto;
  right: 0; }

.w-badges li {
  float: right; }

.choose-from-my-photo .nav-tabs {
  right: auto;
  left: 0; }

.choose-from-my-photo .nav-tabs .nav-link {
  border-left: none;
  border-right: 1px solid #e6ecf5;
  border-right: 1px solid var(--olympus-border-color); }

.choose-photo-item .radio label {
  padding-right: 0; }

.choose-from-my-photo .btn + .btn {
  margin-left: 0;
  margin-right: 20px; }

.news-feed-form .nav-link svg {
  margin-right: 0;
  margin-left: 10px; }

.add-options-message .options-message + .options-message {
  margin-left: 0;
  margin-right: 35px; }

.add-options-message button {
  float: left; }

.add-options-message button + button {
  margin-right: 0;
  margin-left: 15px; }

.w-weather .more {
  right: auto;
  left: 25px; }

.ui-block-title .more {
  padding-left: 0;
  padding-right: 25px; }

.w-birthday-alert .more {
  float: left; }

.w-weather .max-min-temperature {
  margin-right: 0;
  margin-left: 20px; }

.news-feed-form .nav-tabs .nav-link {
  border-right: none;
  border-right: none;
  border-left: 1px solid #e6ecf5;
  border-left: 1px solid var(--olympus-border-color); }

.comments-list.style-2 .post__date {
  margin-right: 0;
  margin-left: 20px; }

.children.single-children {
  padding-right: 0; }

.w-personal-info li .title {
  margin-right: 0;
  margin-left: 30px;
  float: right; }

.friend-count-item {
  margin-right: 0;
  margin-left: 25px; }
  .friend-count-item:first-child {
    margin-left: 0; }

.control-block-button .btn-control:last-child {
  margin-left: 0; }

.swiper-container {
  direction: ltr; }

.swiper-slide .control-block-button .btn-control {
  margin-right: 20px;
  margin-left: 0; }

.swiper-slide .control-block-button .btn-control:last-child {
  margin-right: 0; }

.photo-gallery {
  right: auto;
  left: 65px; }

.block-btn {
  padding-right: 0;
  padding-left: 170px; }

.block-btn.align-right {
  text-align: left; }

.create-photo-album .btn + .btn {
  margin-left: 0;
  margin-right: 20px; }

.photo-item .more {
  right: auto;
  left: 25px; }

.ui-block-title.inline-items .more {
  float: left; }

.ui-block-title .btn + * {
  margin-left: 0;
  margin-right: 20px; }

.align-right {
  text-align: left; }

.align-right .btn {
  margin-left: 0;
  margin-right: 20px; }

.icon-add::after,
.icon-minus::after {
  right: auto;
  left: -5px; }

.control-icon .label-avatar {
  right: auto;
  left: -9px; }

.w-select {
  padding: 0 0 0 20px; }

.w-select .title {
  float: right;
  margin-right: 0;
  margin-left: 15px; }

.friend-item-content .more {
  right: auto;
  left: 15px; }

.top-header.top-header-favorit .top-header-author {
  left: auto;
  right: 100px; }

.top-header.top-header-favorit .author-thumb {
  float: right;
  margin-right: 0;
  margin-left: 30px; }

.top-header.top-header-favorit .author-content {
  text-align: right; }

.monthly-indicator .btn-control {
  float: right;
  margin-right: 0;
  margin-left: 15px; }

.monthly-count .indicator {
  margin-left: 0;
  margin-right: 10px; }

.statistics-point {
  margin-right: 0;
  margin-left: 6px; }

.points > span + span {
  margin-left: 0;
  margin-right: 15px; }

.points {
  display: flex; }

.event-item-table td:last-child {
  padding-right: 12px;
  padding-left: 30px; }

.event-item-table td:first-child {
  padding-left: 12px;
  padding-right: 30px; }

.event-author .author-thumb {
  margin-right: 0;
  margin-left: 12px; }

.place svg {
  margin-right: 0;
  margin-left: 10px; }

.friends-harmonic .with-text {
  margin-left: 0;
  margin-right: 15px; }

.event-item-table .add-event {
  text-align: left; }

.w-create-fav-page .more {
  float: left; }

.window-popup .form-group.with-button button {
  border-radius: 5px 0 0 5px; }

.friend-groups .friend-item-content .more {
  right: auto; }

.description-toggle .togglebutton,
.switcher-block > :last-child {
  text-align: left; }

.calendar-events-tabs .nav-item + .nav-item {
  margin-left: 0;
  margin-right: 60px; }

.crumina-full-calendar .fc-event::before, .crumina-full-calendar .fc-event:hover::before {
  margin-right: 0;
  margin-left: 6px; }

.fc {
  direction: revert;
  text-align: right; }

.no-past-events .control-block-button,
.today-events .control-block-button {
  right: auto;
  left: 25px; }

.today-events.calendar .accordion-item {
  padding-left: 0;
  padding-right: 25px; }

.today-events.calendar .accordion-item::before {
  left: auto;
  right: 25px; }

.today-events .event-time::before {
  left: auto;
  right: -29px; }

.today-events .accordion-button {
  padding: 0 0 0 40px; }

.today-events .event-status-icon {
  right: auto;
  left: 0; }

.today-events .accordion-button {
  text-align: right; }

.today-events.calendar .accordion-header .more-dropdown {
  right: 0;
  left: auto; }

.create-event .olymp-happy-face-icon {
  right: auto;
  left: 35px; }

.items-round-little {
  margin-left: 0;
  margin-right: 12px; }

.event-item-table-fixed-width .date-event svg {
  margin: 0 0 0 10px; }

.calendar .place svg {
  margin-right: 0; }

.birthday-item.badges .skills-item {
  float: left; }

.birthday-item.badges .author-thumb {
  margin-right: 0;
  margin-left: 25px; }

.label-avatar {
  right: auto;
  left: -4px; }

.birthday-item .btn {
  float: left; }

.birthday-item .author-thumb {
  margin-right: 0;
  margin-left: 12px; }

.available-widget .more {
  padding-left: 0;
  padding-right: 25px; }

.add-option svg {
  margin-right: 0;
  margin-left: 12px; }

.profile-settings-responsive {
  left: auto;
  right: 0; }

.profile-settings-open {
  left: auto;
  right: 100%;
  border-radius: 100px 0 0 100px; }

.profile-settings-responsive .settings-open-arrow {
  transform: rotate(0); }

.profile-settings-responsive.open .settings-open-arrow {
  transform: rotate(180deg); }

.profile-settings-responsive {
  transform: translateX(72%); }

.add-field svg {
  margin-right: 0;
  margin-left: 10px; }

.icon-status {
  margin-right: 0;
  margin-left: 8px; }

.popup-chat .add-options-message {
  right: auto;
  left: 20px; }

.popup-chat .add-options-message .options-message + .options-message {
  margin-left: 0;
  margin-right: 15px; }

.popup-chat .form-group.label-floating textarea.form-control {
  padding-right: 1.1rem;
  padding-left: 80px; }

.add-options-message .more-dropdown {
  right: auto;
  left: -20px; }

.accept-request + .accept-request {
  margin-left: 0;
  margin-right: 8px; }

.forums-table td.forum {
  text-align: right; }

.forum-item img {
  float: right;
  margin-right: 0;
  margin-left: 15px; }

.sub-forums {
  border-left: none;
  border-left: none;
  border-right: 1px solid #e6ecf5;
  border-right: 1px solid var(--olympus-border-color); }

.forums-table thead th.forum {
  text-align: right; }

.author-started > * + * {
  margin-left: 0;
  margin-right: 8px; }

.author-started .author-thumb img {
  margin-left: 0; }

.open-topic-table thead th.author {
  text-align: right; }

.reply-topic {
  float: left; }

.filter-icons li + li {
  margin-left: 0;
  margin-right: 8px; }

.comments-shared > :last-child {
  margin-left: 0; }

.blog-post-v1 .post-content {
  left: auto;
  right: 0; }

.single-post .control-block-button {
  right: auto;
  left: -17px; }

.author-date .author-thumb {
  margin-right: 0;
  margin-left: 13px; }

.single-post-v1 .filter-icons {
  float: right; }

.single-post-v1 .filter-icons li + li {
  margin-right: 0; }

blockquote p::before {
  left: auto;
  right: -80px; }

.choose-reaction li + li {
  margin-left: 0;
  margin-right: 9px; }

.blog-post-v2 .author-date {
  text-align: right; }

.control-icon .notification-list .author-thumb {
  margin-left: 0; }

.single-post-additional > * + * {
  border-left: none;
  border-left: none;
  border-right: 1px solid #e6ecf5;
  border-right: 1px solid var(--olympus-border-color); }

.single-post-v2 .author-date {
  text-align: right; }

.post-date-wrap svg {
  margin-right: 0;
  margin-left: 12px; }

.post-date-wrap .post-date {
  text-align: right; }

.post-comments-wrap svg {
  margin-right: 0;
  margin-left: 12px; }

.post-comments-wrap .post-comments {
  text-align: right; }

.single-post-v2 .post-content {
  text-align: right; }

.single-post-slider .slider-slides .slides-item {
  margin-right: 0;
  margin-left: 22px; }

.socials-shared .social-item + .social-item {
  margin-left: 0;
  margin-right: 15px; }

.blog-post .post-additional-info > * {
  margin-left: 0; }

.blog-post-v3 .post-additional-info .comments-shared {
  margin-right: auto;
  margin-left: 0; }

.blog-post-v3 .post-thumb {
  border-radius: 0 5px 5px 0; }

.blog-post-v3 .post-category {
  left: auto;
  right: 0; }

.single-post-v3 .filter-icons {
  margin-left: 0;
  margin-right: 25px; }

.single-post-v3 .control-block-button {
  float: right;
  left: auto; }

.single-post-v3 .control-block-button .post-add-icon svg {
  margin-left: 0; }

.shoping-cart .count-product {
  right: auto;
  left: -5px; }

.list--styled i, .list--styled svg {
  margin-right: 0;
  margin-left: 17px; }

.btn-market + .btn-market {
  margin-left: 0;
  margin-right: 20px; }

.subscribe-animation .plane {
  right: auto;
  left: 5%; }

.form-inline > * + * {
  margin-left: 0;
  margin-right: 16px; }

.call-to-action-animation .first-img {
  left: auto;
  right: 15%; }

.w-about img {
  margin-right: 0;
  margin-left: 17px; }

.search-form > * + * {
  margin-left: 0;
  margin-right: -5px; }

.socials li + li {
  margin-left: 0;
  margin-right: 20px; }

.call-to-action-animation .second-img {
  right: auto;
  left: 40%; }

.planer-animation .planer {
  right: auto;
  left: 0; }

.btn-market .icon {
  margin-right: 0;
  margin-left: 5px; }

.blog-post-v2 .post-additional-info .comments-shared {
  margin-left: 0;
  margin-right: 20px; }

.single-post-v1 .post-content {
  padding: 0 60px 0 40px; }

.comments-list.style-3 .post__author-thumb {
  margin-right: 0;
  margin-left: 20px;
  float: right; }

.with-title-decoration .heading-title:after,
.with-title-decoration .heading-title:before {
  left: auto;
  right: 0; }

.post-control-button .btn-control {
  margin-left: 0; }

.crumina-counter-item::after {
  right: auto;
  left: 0; }

.contact-title::after {
  left: auto;
  right: 0; }

.contact-form-animation .crew {
  right: auto;
  left: 0; }

.breadcrumbs-item .icon {
  margin-right: 0;
  margin-left: 6px; }

.breadcrumbs-item a {
  margin-right: 0;
  margin-left: 6px; }

.accordion-faqs .icons-wrap {
  margin-left: 0;
  margin-right: 20px; }

.accordion-faqs .accordion-button {
  text-align: right; }

.crumina-info-box--thumb-left {
  text-align: right; }

.crumina-info-box--thumb-left .info-box-image {
  margin-right: 0;
  margin-left: 30px; }

.with--icon .icon {
  margin-right: 0;
  margin-left: 12px; }

.btn-market,
.with--icon {
  text-align: right; }

.help-support-list li svg {
  margin-right: 0;
  margin-left: 20px; }

.help-support-block .title .total-topic {
  margin-left: 0;
  margin-right: 15px; }

.search-help-result-list .single-post-additional > * + * {
  margin-left: 0;
  margin-right: 30px; }

.search-help-result-list .single-post-additional > * + * {
  border-right: none;
  margin-left: 0;
  margin-right: 30px; }

.user-raiting img {
  margin-right: 0;
  margin-left: 20px; }

.help-main-topic .single-post-additional > * + * {
  border-right: none;
  margin-left: 0;
  margin-right: 30px; }

.user-raiting-choice a {
  margin-left: 0;
  margin-right: 15px; }

.user-raiting-choice span {
  margin-left: 0;
  margin-right: auto; }

.shop-product-item .product-content .block-price {
  margin-left: 0;
  margin-right: auto; }

.shop-product-item .product-thumb {
  margin-left: 0; }

.shop-product-item .product-price {
  margin-left: 0; }

.small-thumbs-wrap {
  margin-right: 0;
  margin-left: 10px; }

.shop-product-detail-content .inputs-wrap > * + * {
  margin-left: 0;
  margin-right: 20px; }

.quantity .quantity-minus,
.quantity .quantity-plus {
  right: auto;
  left: 15px; }

.with--icon.btn-md .icon {
  margin-right: 0;
  margin-left: 15px; }

.product-description .nav-tabs .nav-link .total-topic {
  margin-left: 0;
  margin-right: 10px; }

.tags li:nth-child(2) {
  margin-left: 0;
  margin-right: 5px; }

.cart-main th > :first-child,
.cart-main tr > :first-child {
  text-align: right; }

.cart-main .form-inline > * + * {
  margin-left: 0;
  margin-right: -5px; }

.cart-main .form-inline .btn {
  border-radius: 5px 0 0 5px; }

.cart-main th > :last-child, .cart-main tr > :last-child {
  padding-right: 0;
  padding-left: 50px; }

.cart-main .cart-subtotal {
  padding: 18px 25px 18px 0;
  float: left; }

.w-featured-topics .icon {
  margin-right: 0;
  margin-left: 10px;
  float: right; }

.searches-item .friend-count-item {
  margin-right: 0;
  margin-left: 50px; }

.searches-item .friend-count-item:last-child {
  margin-left: 0; }

.searches-item .post-additional-info > :last-child {
  margin-left: 0;
  margin-right: auto; }

.post-block-photo a {
  margin-right: 0;
  margin-left: 2%; }

.post-block-photo a:last-child {
  margin-left: 0; }

.w-build-fav .more {
  right: auto;
  left: 25px; }

.form--login-logout {
  margin-right: 0;
  margin-left: 30px; }

.social-menu-tabs.nav-tabs .nav-link svg {
  margin-right: 0;
  margin-left: 10px; }

.social-menu-tabs.nav-tabs .nav-link {
  border-right: none;
  border-right: none;
  border-left: 1px solid #e6ecf5;
  border-left: 1px solid var(--olympus-border-color); }

.social-menu-tabs.nav-tabs .nav-item:first-child .nav-link {
  border-right: 1px solid #e6ecf5;
  border-right: 1px solid var(--olympus-border-color); }

ol li:before {
  margin-right: 0;
  margin-left: 10px; }

.blog-post.format-link .post-link {
  right: auto;
  left: 0; }

.blog-post .post-type-icon {
  right: auto;
  left: 20px; }

.blog-post.format-link .post-content {
  padding-right: 0;
  padding-left: 60px; }

.social-item i, .social-item svg {
  margin-right: 0;
  margin-left: 10px; }

.mfp-iframe-holder .mfp-close,
.mfp-image-holder .mfp-close {
  text-align: left; }

.mfp-counter {
  right: auto;
  left: 0; }

.header--standard .logo .img-wrap {
  margin-right: 0;
  margin-left: 13px; }

.news-feed-form .author-thumb {
  left: auto;
  right: 25px; }

.open-photo-popup-v2 .open-photo-thumb {
  float: right; }

.open-photo-popup-v2 .open-photo-content {
  float: right; }

.accordion-button::after {
  margin-left: 0;
  margin-right: auto; }

.private-event-head .more {
  float: left;
  margin-right: 0;
  margin-left: 10px; }

.private-event-head img {
  margin-right: 0;
  margin-left: 14px; }

.edit-my-poll-popup .edit-my-poll-head .poll-img {
  margin-left: 0;
  margin-right: auto; }

.edit-my-poll-popup .control-block-button {
  right: auto;
  left: -17px; }

/*------------- Responsive mode styles --------------*/
@media (max-width: 1200px) {
  .responsive-flex1200 .btn + * {
    margin-right: 0; } }

@media (max-width: 1150px) {
  .author-page .more-dropdown {
    right: auto;
    left: -8px; } }

@media (max-width: 1024px) {
  blockquote p::before {
    right: -30px; }
  .author-page {
    margin-left: 0;
    margin-right: 10px; }
  .single-post-v1 .post-content {
    padding: 0 30px 0 20px; } }

@media (max-width: 1023px) {
  .registration-login-form {
    padding-right: 0; } }

@media (max-width: 1080px) {
  .page-has-left-panels .header {
    padding-left: 0;
    padding-right: 70px; } }

@media (max-width: 999px) {
  .birthday-item.badges .skills-item {
    float: none; } }

@media (max-width: 801px) {
  .profile-section .control-block-button {
    right: auto;
    left: 50%; }
  .top-header.top-header-favorit .profile-section .control-block-button {
    right: auto;
    left: 38px; }
  .top-header-author {
    right: auto;
    transform: none;
    left: auto;
    margin: 20px auto 0; } }

@media (max-width: 768px) {
  .cart-main th > :last-child,
  .cart-main tr > :last-child {
    padding-left: 10px; }
  .responsive-flex .align-right,
  .responsive-flex .bootstrap-select.without-border.btn-group .dropdown-toggle .filter-option {
    text-align: right; }
  .profile-settings-responsive {
    transform: translateX(100%); }
  .block-btn {
    padding-left: 0; }
  .responsive-flex .more {
    padding-right: 0; }
  .children {
    margin-right: 0;
    margin-left: -10px; }
  .post .control-block-button {
    left: 20px; }
  .back-to-top {
    right: auto;
    left: 10px; }
  .fixed-sidebar-right {
    border-right: none; }
  .page-has-left-panels.page-has-right-panels {
    padding-right: 0;
    padding-left: 0; }
  .page-has-left-panels {
    padding-right: 0; }
  .page-has-right-panels {
    padding-left: 0; }
  .control-block {
    float: none; }
  .page-has-right-panels .header {
    padding-right: 0;
    padding-left: 50px; }
  .page-has-left-panels .header {
    padding-left: 0;
    padding-right: 50px; }
  .page-has-right-panels.page-has-left-panels .header {
    padding-right: 50px;
    padding-left: 50px; }
  .header-menu {
    right: auto;
    left: 0;
    text-align: right;
    border-left: none;
    border-left: none;
    border-right: 1px solid #e6ecf5;
    border-right: 1px solid var(--olympus-border-color);
    transform: translateX(calc(-100% - 70px)); }
  .responsive-flex .align-right .btn,
  .responsive-flex .ui-block-title .btn + * {
    margin-right: 0; } }

@media (max-width: 640px) {
  .description-toggle .togglebutton,
  .event-item-table .add-event,
  .switcher-block > :last-child {
    text-align: center; } }

@media (max-width: 580px) {
  .form--login-logout {
    text-align: left; } }

@media (max-width: 560px) {
  .single-post-v3 .control-block-button > a + a {
    margin-left: 0;
    margin-right: 10px; }
  .single-post-v3 .control-block-button .btn-control:last-child {
    margin-right: 10px; }
  .single-post-v1 .post-content {
    padding: 0; }
  .single-post-v3 .control-block-button {
    float: none; }
  .blog-post-v3 .post-thumb {
    border-radius: 0; }
  .blog-post-v2 .post-additional-info .comments-shared,
  .single-post-v1 .filter-icons {
    float: none; }
  .single-post-v1 .filter-icons li {
    margin-left: 10px; }
  .single-post-additional {
    text-align: right; }
  .single-post-additional.inline-items > * + * {
    border-right: none; }
  .single-post-slider .slider-slides .slides-item {
    margin-left: 10px; }
  .help-main-topic .single-post-additional > * {
    padding: 10px 0; } }

@media (max-width: 540px) {
  .cart-main .cart-subtotal {
    float: none;
    text-align: right;
    padding-right: 0; } }

@media (max-width: 480px) {
  .searches-item .post-additional-info {
    align-items: flex-start; }
  .searches-item .post-additional-info > :last-child {
    margin-right: 0; }
  .post-additional-info > :last-child {
    margin-right: 0; }
  .video-thumb {
    float: none; }
  .add-options-message .options-message + .options-message {
    margin-right: 15px; }
  .add-options-message button + button {
    margin-left: 0; }
  .add-options-message button, .w-birthday-alert .more {
    float: none; }
  .top-header.top-header-favorit .top-header-author {
    right: 30px; }
  .blog-post-v2 .post-additional-info .comments-shared,
  .blog-post-v3 .post-additional-info .comments-shared {
    margin-right: 0; } }

@media (max-width: 410px) {
  .btn-market + .btn-market {
    margin-right: 0; } }

@media (max-width: 360px) {
  .subscribe-form .btn {
    margin-left: 0;
    margin-right: -5px;
    border-radius: 5px 0 0 5px; }
  .search-help-result-list .single-post-additional > * + * {
    margin-right: 0; }
  .help-main-topic .single-post-additional > * + * {
    margin-right: 0; } }

.comment-form .add-options-message {
    position: absolute;
    left: 20px;
    right: auto;
    bottom: 15px;
    width: auto;
    padding: 0;
}

.pull-right{
  text-align: left;
}
.pull-left{
  text-align: right;
}
